<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaochj.greatfeatures">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".network.retrofit.RetrofitTest"></activity>
    <activity android:name=".network.okhttp.OkhttpTest"></activity>
    <activity android:name=".network.volley.VolleyTest"></activity>
    <activity android:name=".imageframe.glide.GlideTest"></activity>
    <activity android:name=".imageframe.uil.UilTest"></activity>
    <activity android:name=".animations.pulltorefresh.PullToRefreshTest"></activity>
    <activity android:name=".ipc.aidl.AIdlClient"></activity>
    <activity android:name=".ipc.messenger.MessengerClient"></activity>
  </application>

</manifest>